body{
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #004e92, #000428)
}

.fulltime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: roboto;
    color: white;
}

.dayoftheweek {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 20px;
    padding: 50px;
    width: 25%;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 20px;
    padding: 50px;
    width: 25%;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 20px;
    padding: 50px;
    width: 25%;
    flex-shrink: 1;
}